<link href="./files/juegoDeLaVida.css" rel="stylesheet">
<!--div class="grid-container" id="grids"></div-->
<div class="grid-container" id="grids">
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
  <div class="grid-item">9</div>  
</div>

<script src="files/jQuery.js"></script>
<script src="files/staticRandom.js"></script>
<script src="files/juegoDeLaVida.js"></script>