.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.grid-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid-container > * {
  background: rgba(0,0,0,0.1);
  /*border: 1px grey solid;*/
}

.grid-item {
}

.grid-black {
	cursor: pointer;
	background-color: black;
	color: black;
}

.grid-white {
	cursor: pointer;
	background-color: white;
	color: white;
}

.grid-green {
	cursor: pointer;
	background-color: green;
	color: white;
}

.grid-yellow {
	cursor: pointer;
	background-color: yellow;
	color: white;
}

.grid-red {
	cursor: pointer;
	background-color: red;
	color: white;
}

/*
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.grid-item2 {
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border: 1px solid grey

}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.grid-container div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
.grid-container div {
  background-color: black;
}
*/



/*
body {
    color: #7F878F;
    background: #999999;
    text-align: center;
    font-family: Helvetica;
}

header {
    margin: 4px;
    padding: 5px;
    background: #ffeebb;
    border: 1px solid #eebb55;
    border-radius: 7px;
}

h1 {
    margin: 4px;
    padding: 5px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

#size,
#generateButton,
p {
    font-size: 16px;
}

header > p {
    color: #E68B8B;
}

#size {
    min-width: 300px;
}

#grids {
    margin: 4px;
    padding: 5px;
    background: #ccccff;
    min-height: 500px;
    border: 1px solid #eebb55;
    border-radius: 7px;
}

.grid:hover {
    border-color: #E68B8B;
    color: #E68B8B;
    cursor: pointer;
}

.row {
    display: flex;
    flow-direction: row;
}
*/